*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  overflow-y:hidden;
}
.wrapper{
  position: relative;
  overflow-y:scroll;
}
a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid;
}