.content{
    display: flex;
    padding-top: 100px;
    padding-bottom: 150px;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}
.content__content-text{
    margin-left: 10%;
    height: 100%;
    width: 50%;
    margin-right: 10%;
}
.content__author-image{
    margin-right: 5%;
    height: 100%
}
.content__author-image__image{
    width: 80%;
}